<div id="<%= dom_id training_course %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Course slug:</strong>
    <%= training_course.course_slug %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Registrations open at:</strong>
    <%= training_course.registrations_open_at %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Registrations close at:</strong>
    <%= training_course.registrations_close_at %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Package slug:</strong>
    <%= training_course.package_slug %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Tutor role:</strong>
    <%= training_course.tutor_role_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Teacher role:</strong>
    <%= training_course.teacher_role_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Trainee role:</strong>
    <%= training_course.trainee_role_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Venue manager role:</strong>
    <%= training_course.venue_manager_role_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Location name:</strong>
    <%= training_course.location_name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Location address:</strong>
    <%= training_course.location_address %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Location gmaps:</strong>
    <%= training_course.location_gmaps %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Lat:</strong>
    <%= training_course.lat %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Lng:</strong>
    <%= training_course.lng %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Location phone:</strong>
    <%= training_course.location_phone %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Participants count:</strong>
    <%= training_course.participants_count %>
  </div>
</div>
