<div id="<%= dom_id scheduled_event %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Lead:</strong>
    <%= scheduled_event.lead_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Training course:</strong>
    <%= scheduled_event.training_course_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Lesson slug:</strong>
    <%= scheduled_event.lesson_slug %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Start at:</strong>
    <%= scheduled_event.start_at %>
  </div>
  <div>
    <strong class="block font-medium mb-1">End at:</strong>
    <%= scheduled_event.end_at %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Note:</strong>
    <%= scheduled_event.note %>
  </div>
</div>
