<div id="<%= dom_id contact %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Nome:</strong>
    <%= contact.nome %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Cognome:</strong>
    <%= contact.cognome %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Email:</strong>
    <%= contact.email %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Diventa insegnante:</strong>
    <%= contact.diventa_insegnante? ? "Yes" : "No" %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Tipo utente:</strong>
    <%= contact.tipo_utente %>
  </div>
</div>
